:root {
  margin: 0px;
  padding: 0px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #3c3c3c;
  border-radius: 25px;
}

*::-webkit-scrollbar-track {
  background: #dfdfdf;
  margin: 5px;
  border-radius: 25px;
}

.remove-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.big-scroll::-webkit-scrollbar {
  width: 16px;
  height: 14px;
}
.big-scroll::-webkit-scrollbar-thumb {
  border-radius: 25px;
}
.big-scroll::-webkit-scrollbar-track {
  background: #ebeff6;
}
